*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
html{
    scroll-behavior: smooth;
}
body{
    background: gray;
    color: ghostwhite;
}
#header{
    width: 100%;
    height: 100vh;
     background-image: url(Images/hq.jpeg);
     background-size: cover;
     background-position: center;
    
}
.container{
    padding: 10px 20px;
}    
nav ul{
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    list-style: none;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    color: lightsalmon;
}
nav ul li a{
    color: darkturquoise;
    text-decoration: none;
    font-size: 20PX;
    position: relative;
    font-weight: 950;
    
}

nav ul li a::after{
    background: coral;
    content: '';
    width: 0;
    height: 4px;
    position: absolute;
    left:0;     
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav h1{
    color: #00d451;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: auto;
    }
.header-text{
    margin-top: 20%;
    font-size: 30px;
    color: darkturquoise;
}
.header-text h2{
    font-size: 60px;
    margin-top: 20px;
    color: darkturquoise;
}
.header-text h2 span{
    color: #ff004f;
}
#about{
    padding: 80px 0;
    color: #abb;
}
.row{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
 }
.about-col-1 img{
    width: 100%;
    border-radius: 15px; 
    }
.about-col-2{
    flex-basis: 60%;
} 
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: aqua;
}
.desc{
    font-size:110%;
    font-weight: 500;
    color: aquamarine;
}
.tab-titles{
  display: flex;
  margin: 20px 0 40px; 
  color: #ffffff; 
}
.tab-links{
    margin: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer; 
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    color: #ffff;
    font-size: 12px;
}
.tab-contents ul li span{
    color: aqua;
    font-size: 16px;
}
#course{
    color: yellowgreen;
    font-size: 18px;
    font-weight: 700;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* portfolio */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 20px;
    margin-top: 50px;
    margin-left: 4px;
    margin-right: 4px;

}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff04);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 650;
    margin-bottom: 20px;
    color: #00d451;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    /* text-decoration: none; */
    font-size: 18px;
    /* line-height: 60px; */
    /* background-color: #fff; */
    /* width: 60px; */
    /* height: 60px; */
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

/* conatct */

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.socila-icons{
    margin-top: 30px;
}
.socila-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.socila-icons a:hover{
    color:#ff004f;
    transform: translateY(-5px);
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn{
    padding: 14px 60px;
    font-size:18px;
    margin-top: 10px;
    cursor: pointer;
    transition: transform(00.5s);
    margin-left: 140px;
}
form .btn:hover{
    color: #ff004f;
    transform: translate(-5px);
}
.copyright{
    width: 100%;
    text-align:center;
    padding: 25px 0;
    background: #262626;
    font-weight: 20px;
    margin-top: 35px;
    color: #ffffff;
    background-color: #e8491d;
        
}

/* css for small screens */

@media  (max-width: 768px){
    
    #header{
        background-image: url(Images/hq.jpeg);
    }
    .row{
        flex-direction: column;
    }
    .about-col-1,
    .about-col-2,
    .contact-left,
    .contact-right{
        width: 100%;
    }
    .header-text h2{
        font-size: 26px;
        line-height: 1.3;
    }
    .header-text p{
        font-size: 16px;
    }
}
#msg{
    color: aqua;
    margin-top: -35px;
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-left: 340px;
}
input,
textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
}

.menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 20px;
}


@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav ul {
        position: absolute;
        top: 60px;
        right: 0;
        background: #000;
        width: 100%;
        flex-direction: column;
        text-align: center;
        display: none;
    }

    nav ul li {
        padding: 15px 0;
    }

    nav ul.show-menu {
        display: block;
    }
}
